@charset "utf-8";
@font-face {
    font-family: 'Gotham';
    src: url(../font/Gotham-Book.oft.eot) format('truetype');
    src: url(../font/Gotham_Book.ttf) format('truetype');
    src: url(../font/Gotham-Book.woff) format('truetype');
}

@font-face {
    font-family: 'Nanum-Gothic' src: url(../font/NanumGothic.woff) format('truetype');
}

@font-face {
    font-family: 'Nanum-Gothic-Bold' src: url(../font/NanumGothicBold.woff) format('truetype');
}
