@charset "utf-8";
body {
    font-family: Nanum-Gothic;
    line-height: 1;
    background-color: #f3f3f3;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a:link {
    text-decoration: none;
    color: #a0a0a0;
}

a:visited{
  text-decoration: none;
  color : #a0a0a0;
}

#topBlank {
    margin-top: 55px;
}

.main {
    width: 1280px;
    margin: 0 auto 43px auto;
    padding: 0 90px;
}

#imgSection {
    display: inline-block;
    vertical-align: top;
    width: 729px;
    margin-right: 34px;
}

#textSection {
    display: inline-block;
    /*position: fixed; */
    width: 330px;
}

#textSectionCategory {
    margin-top: 5px;
    margin-bottom: 23px;
    font-family: Gotham;
    font-size: 15px;
    color: #f0564e;
}

#textSectionTitle {
    margin-bottom: 13px;
    font-size: 26px;
    color: #1b1b1b;
}

#textSectionSubTitle {
    font-family: Gotham;
    font-size: 14px;
    color: #1b1b1b;
    margin-bottom: 34px;
}

#textSectionMain {
    word-break: break-all;
    line-height: 160%;
    color: #515151;
    font-size: 13px;
    margin-bottom: 71px;
}

#authorInfo {
    margin-bottom: 70px;
}

#authorPhoto {
    display: inline-block;
    margin-right: 17px;
}

#authorInfoText {
    display: inline-block;
    vertical-align: top;
}

#authorKorName {
    font-family: Nanum-Gothic-Bold;
    font-size: 18px;
    color: #535353;
}

#authorEngName {
    font-size: 12px;
    color: #7d7d7d;
}

#authorEmail {
    font-size: 13px;
    color: #7d7d7d;
}

#authorPhoneNumber {
    font-size: 13px;
    color: #7d7d7d;
}

#accordian1 {
    margin-bottom: 24px;
}

#accordian1Img {
    cursor: pointer;
}

#accordian1Content {
    display: none;
}

#accordian1Ul {
    margin-top: 22px;
    margin-left: 37px;
}

#accordian1Ul li {
    font-size: 12.6px;
    margin-bottom: 16px;
    color: #a0a0a0;
}

.accordianSelectText {
    color: #1b1b1b;
}

#accordian2Img {
    cursor: pointer;
}

#accordian2Content {
    display: none;
}

#accordian2Ul {
    margin-top: 22px;
    margin-left: 37px;
    font-size: 12.8px;
    color: #a0a0a0;
    word-spacing: 7px;
    line-height: 200%;
}

#footerWrap {
    background-color: #28323f;
    height: 79px;
}

#footerSection {
    width: 1280px;
    margin: 0 auto;
    color: #ffffff;
    padding: 22px 0;
}

#footerKorean {
    font-family: Nanum-Gothic;
    line-height: 160%;
    font-size: 12px;
}

#footerEnglish {
    font-size: 12px;
    font-family: Gotham;
}
